*, *::after, *::before {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.hr {
  border: 0.2rem solid #434BE7;
  width: 7%;
  margin: 1rem 0;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.6rem;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__logo {
  height: 7rem;
  margin: 1rem;
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.navbar__item {
  margin-right: 2rem;
  text-transform: uppercase;
  -webkit-transition: color .4s ease-in;
  transition: color .4s ease-in;
}

.navbar__item:hover {
  color: #434BE7;
  cursor: pointer;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: translateY(-0.3px);
          transform: translateY(-0.3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active, .btn:focus {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--blue {
  background-color: #434BE7;
  color: #fff;
}

.cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

.cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-clip-path: polygon(0% 0%, 0% 100%, 30% 100%, 45% 65%, 75% 65%, 100% 0%);
          clip-path: polygon(0% 0%, 0% 100%, 30% 100%, 45% 65%, 75% 65%, 100% 0%);
  background-color: #fbe0d7;
  z-index: -1;
}

.cover__heading {
  margin-bottom: 1.5rem;
}

.cover__text {
  margin-bottom: 3rem;
}

.cover__img {
  height: 75vh;
  margin-top: 1rem;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 9rem 0;
}

.about__img {
  height: 20rem;
}

.about__img-container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__text {
  width: 50%;
}

.about__head__hr {
  border: 0.2rem solid #434BE7;
  width: 7%;
  margin: 1rem 0;
}

.about__description {
  font-family: 'Open Sans', sans-serif;
  margin-top: 3rem;
}

.do {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 9rem 0;
}

.do__hr {
  width: 10%;
}

.do__text {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.do__description {
  font-family: 'Open Sans', sans-serif;
  margin-top: 3rem;
}

.do__img {
  height: 20rem;
}

.do__img-container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=main.css.map */