.cover{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;

    @include respond(tab-land){
        flex-direction: column;
    }

    &__1{
        @include respond(tab-land){
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        
    }

    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        clip-path: polygon(0% 0%, 0% 100%, 30% 100%, 45% 65%, 75% 65%, 100% 0%);
        background-color: $color-orange-light-1;
        z-index: -1;
    }

    &__heading{
        margin-bottom: 1.5rem;

        @include respond(tab-land){
            margin-top: 5vh;
        }
    }

    &__text{
        margin-bottom: 3rem;

        @include respond(tab-land){
            text-align: center;
        }
    }

    &__img{
        height: 75vh;
        margin-top: 1rem;

        @include respond(tab-land){
            height: 30vh;
            width: 80%;
        }
    }
}