.about{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin: 9rem 0;

    @include respond(tab-port){
        margin: 4rem 0;
    }

    @include respond(tab-land){
        flex-direction: column;
    }
    &__img{
        &-container{
            width: 50%;
            display: flex;
            justify-content: center;
        }
        height: 20rem;
    }

    &__text{
        width: 50%;
    }

    &__description{
        font-family: 'Open Sans', sans-serif;
        margin-top: 3rem;
    }
}