.fa{
    &-check{
        color: green;
    }

    &-times{
        color: red;
    }
}

.card{

    &__wrap{
        padding: 5rem 0;
        background-color: #f1f1f1;
    }
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 38rem;
    font-family: 'Lato', sans-serif;
    
    &__side{
        
        height: 38rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        
        &--front{
            background-color: $color-white;
        }
        
        &--back{
            transform: rotateY(180deg);
            
            &-1{
                background: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }
            
            &-2{
                background: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }
            
            &-3{
                background: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
            }
            
        }
    }
    
    &:hover &__side--front{
        transform: rotateY(-180deg);
    }
    
    &:hover &__side--back{
        transform: rotate(0deg);
    }
    //Front-side card
    &__picture{
        background-size: cover;
        height: 10rem;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        &--1{
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
        }
        
        &--2{
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
        }
        
        &--3{
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark);
        }
    }
    
    &__heading{
        color: $color-white;
    }
    
    &__details{
        
        padding: 3rem;
        
        ul{
            list-style: none;
            width: 80%;
            margin: 0 auto;
            display: block;
             word-wrap: break-word; 
            
            li{
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;
                display:list-item;
                width: 100%;
                word-break: break-all;
                
                &:not(:last-child){
                    border-bottom: 1px solid $color-grey-light-2;
                }
            }
        }

        &-slide{
            color: green;
            font-weight: 700;
            text-decoration: underline;
        }
    }
    //Back-side card
    
    &__cta{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }
    
    &__price-box{
        text-align: center;
        margin-bottom: 8rem;
        color: $color-white;
    }
    
    &__price--only{
        font-size: 1.4rem;
        text-transform: uppercase;
    }
    
    &__price--value{
        font-size: 6rem;
        font-weight: 100;
    }
    
    @include respond(tab-land){
        height: auto;
        border-radius: 3px;
        background-color: $color-white;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        
        &__side{
            
            height: auto;
            position: relative;
            box-shadow: none;
            
            &--back{
                transform: rotateY(0deg);
                clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
            }
        }

        &:hover &__side--front{
            transform: rotateY(0);
        }

        &__details{
            padding: 1rem 3rem;
        }

        //Back-side card
        
        &__cta{
            position: relative;
            top: 0%;
            left: 0%;
            transform: translate(0);
            width: 100%;
            padding: 7rem 4rem 4rem 4rem;
        }
        
        &__price-box{
            margin-bottom: 3rem;
        }
        
        &__price--only{
            font-size: 1.4rem;
            text-transform: uppercase;
        }
        
        &__price--value{
            font-size: 4rem;
        }
    }
}