.choose{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__head{

    }

    &__trans{
        display: flex;
        @include respond(tab-land){
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        &-container{
            display: flex;
            justify-content: space-around;
            flex-wrap: nowrap;
            width: 100%;
        }
        margin: 5rem 0;
    }

    &__before{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;

        @include respond(tab-land){
            width: 85%;
        }
        &-img{
            height: 50vh;
        }
        margin: 0 2rem;

        @include respond(tab-land){
            margin-bottom: 3rem;
        }
    }

    &__after{
        width: 48%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include respond(tab-land){
            width: 85%;
        }
        &-img{
            height: 50vh;
        }
    }
}