.softwares{
    padding-top: 5rem;
    padding-bottom: 7rem;
    background: linear-gradient(to right bottom, $color-black, $color-white)
                ,url("../img/design.jpg");
    background-blend-mode: color;
    background-size: cover;
    color: $color-white;
    &__head{
        @include respond(tab-land){
            margin-top: 4rem;
        }
    }

    &__img{
        width: 100%;
        height: 100%;
        &-wrap{
            margin-top: 4rem;
            display: flex;
            justify-content: space-around;

            @include respond(tab-land){
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }
        }
        &-contain{
            width: 15%;

            @include respond(tab-land){
                width: 40%;

                &:not(:last-of-type){
                    margin-bottom: 3rem;
                }
            }
        }
    }
}